Mission 1


Create a "fruit" dataframe that reflects the above example using a list data structure https://www.google.com/url?q=https%3A%2F%2Fdatatofish.com%2Flist-to-dataframe%2F

In [1]:
import pandas as pd
fruit_list = [["30", "21"]]
df=pd.DataFrame(fruit_list, columns=['Apples', 'Bananas'])
df

  Apples Bananas
0     30      21

Mission 2

Create a "fruit_vendors" dataframe that reflects the below example using a dictionary data structure https://www.google.com/url?q=https%3A%2F%2Fpandas.pydata.org%2Fpandas-docs%2Fstable%2Freference%2Fapi%2Fpandas.DataFrame.from_dict.html

In [2]:
fruit_vendors = ({'Apples': [35, 41], 'Bananas': [21, 32]}, ['2017 Sales', '2018 Sales'])
df=pd.DataFrame(fruit_vendors[0], index=fruit_vendors[1])
df

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       32

Mission 3

Use a loop to display the values from each column in the dataframe from mission 2.

(https://www.google.com/url?q=https%3A%2F%2Fapprendrepython.com%2Fpandas-iterate-dataframe-avec-la-boucle-for%2F)

In [3]:
for col in df.columns:
    print(df[col].values)

[35 41]
[21 32]

Mission 4

Delete the first row of the dataframe from mission 2

https://www.google.com/url?q=https%3A%2F%2Fpandas.pydata.org%2Fpandas-docs%2Fstable%2Freference%2Fapi%2Fpandas.DataFrame.drop.html

In [4]:
df.drop(df.index[0])

            Apples  Bananas
2018 Sales      41       32

Mission 5

Delete the first column from the dataframe from mission 2.

In [5]:
df.drop(columns=['Apples'])

            Bananas
2017 Sales       21
2018 Sales       32